<template name="links">
    <li class="{{isActivePath regex='pageOne'}}">
        <a href="/pageOne">
            <i class="fa fa-dashboard"></i>
            <span class="nav-label">Page one</span>
        </a>
    </li>
    <li class="{{isActivePath regex='pageTwo'}}">
        <a href="/pageTwo">
            <i class="fa fa-diamond"></i>
            <span class="nav-label">Page two</span>
        </a>
    </li>
    <li class="{{isActivePath regex='dashboard'}}">
        <a href="/dashboard">
            <i class="fa fa-diamond"></i>
            <span class="nav-label">Dashboard</span>
        </a>
    </li>
</template>