<template name="links">
    <li class="{{isActivePath path='/dashboard'}}">
        <a href="/dashboard">
            <i class="fa fa-cogs"></i>
            <span class="nav-label">Dashboard</span>
        </a>
    </li>
    <li class="{{isActivePath regex='logs'}}">
        <a href="/dashboard/logs">
            <i class="fa fa-list"></i>
            <span class="nav-label">User logs</span>
        </a>
    </li>
    <li class="{{isActivePath regex='errors'}}">
        <a href="/dashboard/errors">
            <i class="fa fa-exclamation-circle"></i>
            <span class="nav-label">Error logs</span>
        </a>
    </li>
</template>